<a href="https://colab.research.google.com/github/oghenerosiloko/Predictions-with-Colab/blob/main/Bitcoin_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np

In [19]:
from google.colab import files
uploaded = files.upload()

Saving BTC-USD.csv to BTC-USD.csv

In [20]:
bitcoin=pd.read_csv("BTC-USD.csv")

In [21]:
bitcoin.head(10)

         Date        Open        High  ...       Close   Adj Close    Volume
0  2016-01-01  430.721008  436.246002  ...  434.334015  434.334015  36278900
1  2016-01-02  434.622009  436.062012  ...  433.437988  433.437988  30096600
2  2016-01-03  433.578003  433.743011  ...  430.010986  430.010986  39633800
3  2016-01-04  430.061005  434.516998  ...  433.091003  433.091003  38477500
4  2016-01-05  433.069000  434.182007  ...  431.959991  431.959991  34522600
5  2016-01-06  431.855988  431.855988  ...  429.105011  429.105011  34042500
6  2016-01-07  430.010986  458.765991  ...  458.048004  458.048004  87562200
7  2016-01-08  457.537994  462.933990  ...  453.230011  453.230011  56993000
8  2016-01-09  453.382996  454.640015  ...  447.610992  447.610992  32278000
9  2016-01-10  448.238007  448.308990  ...  447.990997  447.990997  35995900

[10 rows x 7 columns]

In [22]:
bitcoin.tail(10)

            Date          Open  ...     Adj Close       Volume
1787  2020-11-22  18642.232422  ...  18370.001953  41280434225
1788  2020-11-23  18370.017578  ...  18364.121094  42741112307
1789  2020-11-24  18365.015625  ...  19107.464844  51469565008
1790  2020-11-25  19104.410156  ...  18732.121094  43710357371
1791  2020-11-26  18729.839844  ...  17150.623047  61396835736
1792  2020-11-27  17153.914063  ...  17108.402344  38886494645
1793  2020-11-28  17112.933594  ...  17717.414063  32601040733
1794  2020-11-29  17719.634766  ...  18177.484375  31133957704
1795  2020-11-30  18178.322266  ...  19625.835938  47728480399
1796  2020-12-01  19564.548828  ...  19371.498047  48122556416

[10 rows x 7 columns]

In [23]:
bitcoin.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [24]:
bitcoin.drop(['Date', 'Open', 'High', 'Low', 'Adj Close', 'Volume'], 1, inplace=True)

In [25]:
bitcoin.head(10)

        Close
0  434.334015
1  433.437988
2  430.010986
3  433.091003
4  431.959991
5  429.105011
6  458.048004
7  453.230011
8  447.610992
9  447.990997

In [26]:
bitcoin.columns=["Price"]

In [27]:
bitcoin.head()

        Price
0  434.334015
1  433.437988
2  430.010986
3  433.091003
4  431.959991

In [28]:
#Creating a variable for predicting "n" days out into the future
prediction_days = 30

#create another column shifted "n" units up
bitcoin["prediction"] = bitcoin[["Price"]].shift(-prediction_days)

In [29]:
bitcoin.head()

        Price  prediction
0  434.334015  368.766998
1  433.437988  373.056000
2  430.010986  374.447998
3  433.091003  369.949005
4  431.959991  389.593994

In [30]:
#show the last seven rows
bitcoin.tail()

             Price  prediction
1792  17108.402344         NaN
1793  17717.414063         NaN
1794  18177.484375         NaN
1795  19625.835938         NaN
1796  19371.498047         NaN

In [31]:
#Creating independent data set
#covert the dataframe to a numpy array and drop the prediction column

x= np.array(bitcoin.drop(["prediction"], 1))

#remove the last "n" rows where "n" is the prediction days
x=x[:len(bitcoin)-prediction_days]

In [32]:
print(x)

[[  434.334015]
 [  433.437988]
 [  430.010986]
 ...
 [13546.522461]
 [13780.995117]
 [13737.109375]]

In [33]:
#create the dependent data set
#covert the dataframe to a numpy array
y=np.array(bitcoin["prediction"])
#get all the values except the last n rows
y=y[:-prediction_days]
print(y)

[  368.766998   373.056      374.447998 ... 18177.484375 19625.835938
 19371.498047]

In [36]:
#split the data into 80 % training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size= 0.2)

In [37]:
#set the prediction days arrays equal to the last 30 rows from the original data set
prediction_days_array= np.array(bitcoin.drop(["prediction"], 1)) [-prediction_days:]
print(prediction_days_array)

[[13550.489258]
 [13950.300781]
 [14133.707031]
 [15579.848633]
 [15565.880859]
 [14833.753906]
 [15479.567383]
 [15332.31543 ]
 [15290.902344]
 [15701.339844]
 [16276.34375 ]
 [16317.808594]
 [16068.138672]
 [15955.587891]
 [16716.111328]
 [17645.40625 ]
 [17804.005859]
 [17817.089844]
 [18621.314453]
 [18642.232422]
 [18370.001953]
 [18364.121094]
 [19107.464844]
 [18732.121094]
 [17150.623047]
 [17108.402344]
 [17717.414063]
 [18177.484375]
 [19625.835938]
 [19371.498047]]

In [38]:
from sklearn.svm import SVR
#create and train the support Vector Machine (regression) using radial basis function
svr_rbf = SVR(kernel= "rbf", C=1e3, gamma= 0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [39]:
#Test Model Accuracy
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy:", svr_rbf_confidence)

svr_rbf accuracy: 0.7717617777456933

In [42]:
#print the predicted values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

[ 9094.303207    9183.33767786  9401.20372211  7867.77823365
  6061.46066913  4388.29118813  9063.6740386   9079.0554319
  9131.9198858   8808.19938465  8980.80729255  1305.20931767
  9563.54167565  8829.40397478 10535.54166467   639.85812002
  6096.00192825  9453.6676722   4946.6693022  10925.36655338
  8836.16240819   453.93284023  7380.14220495  7258.80706283
  9126.67888904  9174.44240218  2715.85134581   426.21140344
  9112.5971159   3867.15310264   785.25346091   423.40014192
  9933.2749169  11206.74275117   604.34534729  8958.13469592
  8679.6218994   8666.09912993  9177.35986918  9091.17257929
  1192.85190936  9841.55138062  3920.75689088  3916.46624063
   426.75420508 10338.36856451  6050.52836916   424.17228475
  1507.2115672   7467.71273345  7896.425779     720.48484393
  4128.55647382  8955.47690115   425.45877155 10743.5436739
 11215.47240859  7268.63951556  1168.74165798  8468.26746746
 11641.95897623  4655.62200916  7430.92793717  6455.87647962
  9146.88440013  1583.4005579  10076.07811598 10564.73680108
  9249.63980272  3924.63802227  4113.79334837  9139.38968752
  6133.34222198 10911.14528649   630.00603229  8877.11452453
  1551.10455539  7360.64100662  3071.59279704  7332.18327521
  9253.40964831  9118.658799    8296.30800546   422.92447135
  9015.38302933  4993.97376363  8255.53022117  6063.82605732
   427.29998496  2717.12103525  9055.90462229  6657.18299622
  8433.99737194 11034.47169636  7976.01484587  6800.94747557
  7182.29826695   655.03418014  1175.84533824 10595.74214026
   439.75155732  1735.52406734  9058.45835132   431.21335752
  8495.24905417   452.18541022   611.97422301  6263.41690919
   450.55299155  6653.51769331  4922.06698283  7805.88595969
 10257.11817215  7282.23861292  9486.26612477   642.72836148
  2822.53001487  4054.87652087 10953.31382773   839.23175625
  9024.84450567   445.38357208  7723.22845157  2796.9581742
  9385.96924994  1558.05146742 10481.56886788  6428.0010643
  6123.54682261  8836.30277824  7516.36451495  8875.10087532
  7326.11944182  8960.90737456  6987.36619937   443.32991128
  8833.67131197   608.18704178  8814.1842207  10549.28196355
   708.53031287  8933.98985609  8392.81374256  1289.80650222
  8227.56051758 11171.75500864  9087.04691282  8320.18032752
   856.76592914  9190.19211159  3933.84683591  1278.64066077
  9906.50704454 10687.97625751   799.24405127  9312.45399517
  8424.89739337   606.73719054  1217.60854519  8795.29231173
   599.89688852   669.92507189  9370.28816836 10633.68002098
  9121.16777473 10532.64016588  9128.65173533  7836.50996069
  8694.8599682   7292.37663801  6206.04832065   648.95133572
  9021.92389967 11019.97427394 10577.64694145  4258.97751442
  7808.89757586  4873.62121335  6351.41480779   686.22164676
   792.31542257  9730.13874994  4235.09767289  9851.18839005
   684.29747148  4216.62987249 10276.76474376  2779.91548198
  1639.32273296  4319.17019093  6250.73282522 11110.49295089
   440.58063646  6522.83376766  4364.5091394   2041.064768
   818.59250046  6529.32080959   649.28386359  8915.11211708
  8976.55185272 11136.31545508   431.60925618  4627.55070483
  6545.63703245  3953.01314685  8912.31466148  9033.15720843
  8753.53272469   446.47703272   639.85080313  6210.06513837
  4211.2280447   2703.9910441   6124.02378959  4858.52945803
  7935.73164728  9045.71544308  9522.92246763   447.10654879
  2774.49986889  1875.23915498  2811.13881111  4237.87483699
  8953.65562344  4966.38935736   615.58167465  6980.0924759
  8983.36522891 10533.11022058 10567.5974998   7715.21091394
  6932.90699105  9429.24606746   810.81873015  9112.14179916
  1084.22739247  7248.33916415  2824.29759931  1156.94158785
   740.90640578  1926.86222625  4318.28114798   619.79981964
  9465.331394     442.01967932  6298.14414335  4267.00304954
  6589.81079569  1172.72293358  3944.88743883  9618.27675115
  8912.63772591  1576.50144474  6300.19366695  8739.08015487
  8318.51606297  1270.43862762  9075.37234588  3955.40233189
  9658.00182762  4386.50257991   452.01560437  8880.07180421
  9647.42768929 10557.72538386  6165.01333441 10540.89327035
   451.12049141   432.02253576  7761.79049813   883.8111898
  9185.85203062   578.10571478  6708.50170451   640.24961477
   641.06064527  8958.73142323 10698.54832679   433.52534715
  3901.58155924  9898.20857387  7710.08771555  4947.82002894
   609.67798756   447.8690344   6481.6496367   7704.49467884
  6432.98297113  4388.73825704  8598.61246767  1555.61151326
  4210.4129356   4243.70360559  8864.21190069  7973.62376786
  4306.49038398  4932.67335259  4666.83529581  1103.91622016
  6307.56998797   638.02465499  7316.65011355  6695.03622545
  9125.30333803   423.76328345  4614.52623656   446.82912657
 10558.43896071 11115.06424601   668.14608999   606.28951363
  1380.79629494   436.57919064   806.31774389  9213.27354408
  9194.99726993   779.40912382  2731.86439375  7979.1275735
  9246.45331568  9182.66903421   656.08948429  9415.91260058
   427.081218    9351.7095828   9127.55654069  2745.98633385
  8399.58398806  4918.48392581  3673.31193271  8294.5094824
   671.0193258   1906.76235226  4922.12081896  7772.68931682
   714.59424577   738.43336895  8884.49136998  8941.87385734
 10559.15925409   423.2569807   6064.77867537 10932.2052067
   680.34575171  9009.99312771  5160.65743169   424.14426108
  8494.02729398  8321.00363536 10558.78646979  4891.36141166
   426.62508133  3926.89217749]

In [43]:
#print the actual values
print(y_test)

[ 9527.160156  9377.013672  5563.707031  8742.958008  6281.200195
  4409.319824  8230.923828  9273.521484  7334.098633  7621.299805
  6636.319824  1116.719971  9313.610352 10407.964844  6853.839844
   647.658997  7321.040039  8393.041992  5446.910156 13654.21875
  8108.116211   672.783997  7411.317383  7814.915039  7218.371094
  9386.788086  2757.179932   459.602997  8784.494141  3909.15625
   975.921021   455.096985 14360.200195 15479.567383   609.241028
  7720.25      8367.847656  8510.379883  9439.124023 11878.37207
  1274.98999   9477.641602  3911.484375  3903.942627   417.945007
  8913.469727  6476.290039   445.737     1176.900024  7193.25
  8574.501953   771.155029  3464.013428  8206.145508   421.563995
 10231.744141  9811.925781  7569.936035  1251.01001   9205.120117
  8621.900391  4338.709961  6482.350098  6332.629883  8723.94043
  1723.349976  9552.860352 16068.138672  6469.79834   4032.507324
  4069.107178 14026.599609  6285.990234 10266.415039   650.619019
  6582.359863  1047.150024  6385.819824  4087.659912  6741.75
  6955.27002  11681.825195 10583.134766   427.398987 11815.986328
  3631.040039 17415.400391  4365.939941   432.152008  2671.780029
  8145.857422  9654.799805  8929.038086 10233.900391  7418.490234
  5795.708496  6517.310059   618.994019   919.75     11478.168945
   421.690002  1182.680054 12156.512695   389.593994  6951.799805
   694.468994   602.625    16408.199219   577.469971 16564.
  5235.55957   6174.528809 11941.96875   7397.796875  7406.52002
   637.960022  2947.709961  2571.340088 11495.349609   902.200989
  8368.830078   572.72699  10975.599609  2506.370117  9677.113281
  1808.910034 13737.109375  6512.709961  7780.439941  9277.967773
  9180.962891  8251.845703 16569.400391  7096.279785  5746.807129
   623.97699   9132.488281   604.728027 15170.099609 10848.830078
   741.648987  8657.642578  9663.181641  1054.22998   6906.919922
  8630.650391  8827.764648  9316.629883   998.325012  9321.78125
  3687.365479  1120.540039  7494.169922 10745.548828   921.984009
  8047.526855  7879.071289   683.661987  1100.22998   8706.245117
   575.536987   656.992004  9665.533203 10363.138672  9288.018555
 11403.700195 11358.662109  6773.879883  8815.662109  8745.894531
  6596.540039   709.848022 15802.900391 13437.882813 11112.700195
  6130.529785  3242.484863  5402.697266  6517.180176   573.911987
   898.822021  9162.917969  3926.070068 10912.823242   569.947021
  4014.182617 12965.891602  3650.620117  1839.089966  3601.013672
  6377.779785 11323.397461   737.226013  7624.910156  4163.069824
  2155.800049   673.106018  6359.490234   711.521973  9480.254883
  5238.438477 10690.400391   424.230988  4035.826416 15455.400391
  3845.19458   6734.803711  9087.303711 10256.058594   530.039978
   641.072021  5575.549805  7407.410156  2718.26001   3614.234375
  4022.168213  8805.77832   9525.363281  8418.990234   665.299011
  2576.47998   2304.97998   2655.879883  4078.599121 10801.677734
  2337.790039   608.312012  6652.22998  16624.599609 10938.271484
 10166.400391  3252.839111  6276.120117  6606.776367   792.713989
 17899.699219  1027.439941  7257.665039  3252.909912   919.495972
   781.481018  2202.419922  4922.798828   677.330994  8802.459961
   536.919983  6543.200195  3792.399902  6334.27002    921.590027
  3954.118164  9648.717773  9360.879883   966.724976  4278.84668
 11786.299805  9043.94043   1272.829956  6911.089844  3985.080811
  7569.629883  5064.487793   414.859985  9324.717773  7557.819824
 10511.813477  7567.149902 17817.089844   376.619995   369.949005
  6580.629883   886.617981 10951.         572.302979  6486.390137
   638.645996   678.304016  9190.854492 11354.024414   416.321991
  4076.632568 11759.592773  5950.069824  3666.780273   610.892029
   537.971985  8864.766602  3696.059082  7434.390137  4174.72998
  7344.884277   972.778992  3682.840088  3998.980225 14656.200195
  7191.158691  3943.409424  2372.560059  3742.700439  1179.969971
  4257.419922   689.651001  6487.160156  9328.197266 11664.847656
   449.010986  5204.958496   413.971985 10721.327148 10198.248047
   740.97699    613.982971  1182.939941   418.088989   679.458984
  6191.192871  9693.802734   933.197998  4376.629883  6614.180176
  6625.560059  8041.779785   577.502991  6770.72998    454.765991
 10530.732422  6793.624512  2809.01001   9870.094727  3963.070557
  4579.02002   7511.588867   715.533997  1102.170044  3413.767822
  8564.016602   566.35498    768.132019 11366.134766  9729.038086
 10369.563477   422.744995  5554.330078  6811.470215   591.054016
  9538.024414  6618.140137   461.425995 19140.800781 10817.155273
 10441.276367  7459.689941   455.67099   4025.248291]

In [45]:
#print the model prediction for the next 30 days
svm_prediction= svr_rbf.predict(prediction_days_array)
print(svm_prediction)

print()

#print the actual price for the bitcoin for the last 30 days
print(bitcoin.tail(prediction_days))

[11234.97601719 10425.02035723  9990.90132585  9120.05940678
  9084.69133264  8804.60210795  8944.40406758  8891.32681709
  8879.81467356  9554.46476588  9625.75285755  9618.43246642
 10005.14582486 10175.21047073  9926.14722074 10036.60390698
 10530.38479155 10520.35369809  7902.21302192  7936.32830516
  7897.79191421  7906.53824694  9946.95068229  8164.3127507
  8568.54099388  8698.78351299 10388.92432823  8511.47870621
  8755.87336719  9696.37185918]

             Price  prediction
1767  13550.489258         NaN
1768  13950.300781         NaN
1769  14133.707031         NaN
1770  15579.848633         NaN
1771  15565.880859         NaN
1772  14833.753906         NaN
1773  15479.567383         NaN
1774  15332.315430         NaN
1775  15290.902344         NaN
1776  15701.339844         NaN
1777  16276.343750         NaN
1778  16317.808594         NaN
1779  16068.138672         NaN
1780  15955.587891         NaN
1781  16716.111328         NaN
1782  17645.406250         NaN
1783  17804.005859         NaN
1784  17817.089844         NaN
1785  18621.314453         NaN
1786  18642.232422         NaN
1787  18370.001953         NaN
1788  18364.121094         NaN
1789  19107.464844         NaN
1790  18732.121094         NaN
1791  17150.623047         NaN
1792  17108.402344         NaN
1793  17717.414063         NaN
1794  18177.484375         NaN
1795  19625.835938         NaN
1796  19371.498047         NaN